.yarn
node_modules
/dist/

/packages/_react-icons-refresh_all
/packages/_react-icons-refresh_all-files

/packages/react-icons-refresh/build
/packages/react-icons-refresh/icons/*
!/packages/react-icons-refresh/icons/index.ts

/packages/preview/.next
/packages/preview/out/

/lerna.json
